footer.footer
	.footer__bg
		+picture('footer', 'jpg')
	.container.footer__container
		a.footer__logo(href='#', target='_blank')
			+icon('logo')
		a.footer__logo(href='#', target='_blank')
			+icon('logo-2')
