header.header
	.container.container--small
		.header__logos
			a.header__logo(href='#', target='_blank')
				+icon('logo')(width='108', height='50')
			a.header__logo(href='#', target='_blank')
				+icon('logo-2')(width='64', height='50')
			a.header__logo(href='#', target='_blank')
				+icon('logo-cnews')(width='110', height='21')
