extends ../layouts/default

block vars
	-
		const page = {
			title: 'C3Solutions'
		};

block main
	section.hero
		.hero__bg
			+picture('hero', 'jpg')
			a.hero__logo(href='#', target='_blank')
				+icon('logo')(width='108', height='50')
		.container.container--small.hero__container
			+icon('dots-vertical')(class='hero__dots dots', width='134', height='314')
			.hero__content
				.hero__title Анатомия ЦОД:
				.hero__text путеводитель по инженерным решениям
			.hero__slider-wrapper
				.hero__slider.swiper
					.swiper-wrapper
						.hero__slide.swiper-slide.
							C3 Solutions — производитель, поставщик инженерного оборудования для создания и бесперебойного
							функционирования критической и ИТ-инфраструктуры. Ключевые заказчики — представители сфер госсектора,
							нефтегаза, телеком, банков, промышленности, ТЭК и др.
						.hero__slide.swiper-slide.
							C3 Solutions — производитель, поставщик инженерного оборудования для создания и бесперебойного
							функционирования критической и ИТ-инфраструктуры. Ключевые заказчики — представители сфер госсектора,
							нефтегаза, телеком, банков, промышленности, ТЭК и др. 2
						.hero__slide.swiper-slide.
							C3 Solutions — производитель, поставщик инженерного оборудования для создания и бесперебойного
							функционирования критической и ИТ-инфраструктуры. Ключевые заказчики — представители сфер госсектора,
							нефтегаза, телеком, банков, промышленности, ТЭК и др. 3
				.hero__nav
					.swiper-btn-prev
						+icon('chevron-left')(width='16', height='31')
					.swiper-btn-next
						+icon('chevron-right')(width='16', height='31')
	section.scheme
		.tooltip__hint Читать описание
		.tooltip__closebackground
		.tooltip.tooltip--1
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/1', 'png')
				.tooltip__title Онлайн источники бесперебойного питания для ИТ-оборудования
				.tooltip__text Предназначены для поддержания бесперебойной работы ИТ-оборудования в&nbsp;ЦОД, серверных комнатах, вычислительных узлах и&nbsp;на&nbsp;рабочих местах в&nbsp;организации в&nbsp;момент отключения электричества. <br>Решение позволяет минимизировать риски простоя и&nbsp;защитить критически важные системы в&nbsp;любых условиях эксплуатации. Поможет повысить энергоэффективность инженерной инфраструктуры.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/online-ups/', target='_blank') Подробнее
		.tooltip.tooltip--2
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/5', 'png')
				.tooltip__title Прецизионные кондиционеры воздуха с выносным воздухо-охлаждаемым конденсатором
				.tooltip__text Предназначены для точного поддержания заданных параметров микроклимата в&nbsp;технологических помещениях, серверных комнатах, ЦОДах. <br>Рассчитаны на&nbsp;беспрерывную работу в&nbsp;режиме 24×7x365. <br>Полезный срок эксплуатации&nbsp;— 10&nbsp;лет.
				ul.tooltip__list
					li 
						b Диапазон регулировок 
						br
						| Соответствуют требованиям директивы ASHRAE по&nbsp;микроклимату в&nbsp;ЦОД.
					li 
						b Высокотехнологичные компоненты
						br
						| Плавная регулировка мощности и&nbsp;высокая энергоэффективность —экономия энергопотребления до&nbsp;72% в&nbsp;холодное время года, за&nbsp;счет системы фреонового фрикулинга.
					li 
						b Индивидуальные решения
						br
						| Широкий набор опций и&nbsp;модификаций. Проектирование и&nbsp;производство систем кондиционирования воздуха под различные задачи бизнеса.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/precision-aircon/', target='_blank') Подробнее
		.tooltip.tooltip--3
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/6', 'png')
				.tooltip__title Структурированные кабельные системы (СКС)
				.tooltip__text Представляет собой готовое высокоскоростное решение для предприятий и&nbsp;центров обработки данных, которым требуется гибкость, надёжность и&nbsp;простота установки сетевой инфраструктуры.
					br
					br
					| Идеально подходит для обеспечения передачи информации в&nbsp;телекоммуникационных сетях различных уровней, так как содержат в&nbsp;своем составе все необходимые компоненты.
				.tooltip__button
					a.button(href='https://c3solutions.ru/promo/scs/', target='_blank') Подробнее
		.tooltip.tooltip--4
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/2', 'png')
				.tooltip__title Системы изоляции коридоров (СКС)
				.tooltip__text Изоляция «холодных» и&nbsp;«горячих» воздушных коридоров применяется в&nbsp;действующих и&nbsp;строящихся ЦОДах. Позволяет снизить эксплуатационные затраты и&nbsp;повысить эффективность систем охлаждения.
					br
					| Решения для изоляции коридоров C3&nbsp;Solutions подходят для объектов установки с&nbsp;различными условиями включает в&nbsp;себя:
				ul.tooltip__list
					li Изоляцию коридоров с&nbsp;опорой на&nbsp;шкафы (для «холодных» и&nbsp;«горячих» коридоров).
					li Изоляцию коридоров с&nbsp;отводом воздуха над шкафами (для «горячих коридоров»).
					li Самонесущую изоляцию коридоров.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/cis/', target='_blank') Подробнее
		.tooltip.tooltip--5
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/9', 'png')
				.tooltip__title Серверные шкафы Major (СКС)
				.tooltip__text Решение для эффективной организации сетевой инфраструктуры предприятий и&nbsp;ЦОДов различного уровня сложности.
					br
					br
					| Линейка серверных шкафов Major разработана C3&nbsp;Solutions в&nbsp;ответ на&nbsp;потребность рынка в&nbsp;размещении глубокого серверного оборудования.
					br
					br
					| Шкафы этой модели позволяют разместить сервер с&nbsp;глубиной более 1000мм совместно с&nbsp;блоками распределения питания, не&nbsp;испытывая сложностей в&nbsp;коммутации силовых шнуров по&nbsp;всей высоте стойки и&nbsp;не&nbsp;блокируя доступ к&nbsp;розеткам ИБП. Также реализована возможность монтажа БРП разъемами к&nbsp;задней двери без блокировки 19’’ пространства.
				ul.tooltip__list
					li Изоляцию коридоров с&nbsp;опорой на&nbsp;шкафы (для «холодных» и&nbsp;«горячих» коридоров).
					li Изоляцию коридоров с&nbsp;отводом воздуха над шкафами (для «горячих коридоров»).
					li Самонесущую изоляцию коридоров.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/server-cabinets/server-cabinets-major/servernyy-shkaf-c3-major-c3-mr4202m/', target='_blank') Подробнее
		.tooltip.tooltip--6
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/8', 'png')
				.tooltip__title МикроЦОД Edge-решение «под ключ»
				.tooltip__text Применение пограничной ИТ-инфраструктуры для периферийных вычислений на&nbsp;базе компактных ЦОД.
					br
					br
					| Решение включает в&nbsp;себя инженерные системы, необходимые для обеспечения оптимальных условий эксплуатации ИТ-оборудования пользователя.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/microdc/', target='_blank') Подробнее
		.tooltip.tooltip--7
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/11', 'png')
				.tooltip__title Интеллектуальные блоки распределения питания (БРП)
				.tooltip__text Решение позволяет оптимизировать расходы на&nbsp;электропитание, за&nbsp;счет индивидуального мониторинга потребляемой мощности и&nbsp;управления на&nbsp;уровне каждой розетки в&nbsp;режиме реального времени.
					br
					br
					| Мониторинг параметров окружающей среды обеспечивается при подключении датчиков температуры, влажности, утечки воды, дымообнаружения и&nbsp;контроля двери шкафа.
					br
					br
					| 100% российское производство, все ключевые компоненты изготовлены в&nbsp;России.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/pdu-avr/smart-pdu/', target='_blank') Подробнее
		.tooltip.tooltip--8
			button.tooltip__close
			.tooltip__content
				.tooltip__stick
				.tooltip__image
					+picture('products/10', 'png')
				.tooltip__title Модульная система мониторинга параметров ЦОД SPX+
				.tooltip__text Эффективное решение для комплексного мониторинга основных систем центров обработки данных в&nbsp;режиме реального времени. Широкий спектр датчиков позволяет осуществлять контроль энергопотребления, состояния оборудования, систем безопасности и&nbsp;параметров окружающей среды.
					br
					br
					| Модульность системы позволяет легко конфигурировать и&nbsp;масштабировать решение под задачи заказчика.
				.tooltip__button
					a.button(href='https://c3solutions.ru/catalog/solutions/dcsol/pms-spx/', target='_blank') Подробнее
		.container.scheme__container
			.scheme__item
				.scheme__title Комплекс решений для ЦОД
				.scheme__image
					svg(class='scheme__image-hover', width='629' height='546' viewBox='0 0 629 546' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(data-part='1', filter='url(#filter0_d_2006_4)' class='-animate')
							path(d='M316.961 215.937L258.318 228.1V518.274L313.921 493.514L316.961 215.937Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
						g(data-part='2', filter='url(#filter1_d_2006_4)' class='-animate')
							path(d='M443.804 189.439L400.799 198.127V454.853L440.329 437.911L443.804 189.439Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
						g(data-part='3', filter='url(#filter2_d_2006_4)' class='-animate')
							path(d='M512.438 175.539L448.582 188.136L446.41 435.305L510.7 407.07L512.438 175.539Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
						g(data-part='4', filter='url(#filter3_d_2006_4)' class='-animate')
							path(d='M175.35 202.037L166.662 202.905L32.4346 146.434', fill='transparent', stroke='#30C2C6', stroke-width='3')
							path(d='M242.246 228.1V535.215L174.915 472.663V203.774L242.246 228.1Z', fill='transparent', stroke='#30C2C6', stroke-width='3', stroke-linecap='round')
							path(d='M165.792 202.471V493.079L128.869 454.853V187.267L165.792 202.471Z', fill='transparent', stroke='#30C2C6', stroke-width='3', stroke-linecap='round')
							path(d='M71.9641 167.72V401.423L46.335 374.49V156.426L71.9641 167.72Z', fill='transparent', stroke='#30C2C6', stroke-width='3', stroke-linecap='round')
							path(d='M45.9006 152.081V354.074L32 341.911V146L45.9006 152.081Z', fill='transparent', stroke='#30C2C6', stroke-width='3', stroke-linecap='round')
						g(data-part='5', filter='url(#filter4_d_2006_4)' class='-animate')
							path(d='M391.677 200.299L332.6 211.593V484.826L391.677 459.631V200.299Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
						g(data-part="7", filter='url(#filter5_d_2006_4)' class='-animate')
							g(filter='url(#filter6_d_2006_4)')
								path(d='M380.381 242.435L367.35 245.91L368.653 443.124L381.685 451.378L380.381 242.435Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
						g(data-part="7", filter='url(#filter7_d_2006_4)' class='-animate')
							path(d='M359.097 248.517L345.631 251.992V429.224L359.097 437.477V248.517Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
						g(data-part="8" filter='url(#filter7_d_2006_4)' class='-animate')
							path(d='M603.5 201.5L518 176.5V415L603.5 472V201.5Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
					img(src='./images/scheme-1.png', alt='')
			.scheme__item.scheme__item--small
				.scheme__title МикроЦОД
				.scheme__text Edge-решение <br> «под ключ»
				.scheme__image
					svg(class='scheme__image-hover', width='373' height='374' viewBox='0 0 373 374' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(data-part='6', filter='url(#filter0_d_2008_6)')
							path(d='M89 361.148H89.549M89.549 361.148H232.294V365H285V9H232.843V11.2009H89.549V361.148Z', fill='transparent', stroke='#30C2C6', stroke-width='3')
					img(src='./images/scheme-2.png', alt='')
	section.articles
		+icon('dots-horizontal')(class='articles__dots dots', width='313', height='134')
		.container.container--small.articles__container
			+title('Моновендорность:', 'articles__title', 'подход единого «окна»')
			.articles__wrapper
				.articles-card
					.articles-card__photo
						+picture('articles/1', 'jpg')
					.articles-card__content
						.articles-card__name Андрей Штонда, C3 Solutions:
						.articles-card__quote Построить полностью моновендорный ЦОД сегодня практически невозможно
						.articles-card__bottom
							.articles-card__text В российских ЦОД-проектах 2022-2023 гг. значительно выросла доля оборудования российских брендов.
							+button('Читать полностью', 'articles-card__link', '#')
				.articles-card
					.articles-card__photo
						+picture('articles/2', 'jpg')
					.articles-card__content
						.articles-card__name Антон Шинов, Proway:
						.articles-card__quote Комплексных проектов в ЦОД все больше
						.articles-card__bottom
							.articles-card__text Важным фактором при поиске поставщиков систем ЦОД становится наличие качественной вендорской поддержки.
							+button('Читать полностью', 'articles-card__link', '#')
	article.block
		.block__dots-wrapper
			+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
			+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
		.container
			+title('ИБП, как ключевой элемент <br> энергетической безопасности', 'block__title')
			section.block__products.products
				.products__title Продукты
				.products__wrapper
					.products-card
						.products-card__content
							.products-card__title Онлайн источники бесперебойного питания для ИТ-оборудования
							ul.products-card__list
								li.
									Предназначены для поддержания бесперебойной работы ИТ-оборудования в ЦОД, серверных комнатах,
									вычислительных узлах и на рабочих местах в организации в момент отключения электричества.
								li Решение позволяет минимизировать риски простоя и защитить критически важные системы в любых условиях эксплуатации.
								li Поможет повысить энергоэффективность инженерной инфраструктуры.
							.products-card__image.d-none-desktop
								+picture('products/1', 'png')
							+button('Узнать больше', 'button--green products-card__link', '#')
						.products-card__image.d-none-mobile
							+picture('products/1', 'png')
			section.article-preview
				.article-preview__image
					+picture('article-preview/1', 'jpg')
				.article-preview__content
					.article-preview__title Аналитическая статья по рынку ИБП
					.article-preview__text Надежное хранение огромных массивов данных – одна из ключевых задач ИТ департамента Пенсионного фонда России.
					+button('Узнать больше', 'article-preview__link', '#')
			section.chart
				.chart__window
					.chart__title Проблема с электропитанием является главной причиной отказов и простоев в работе дата-центров
					.chart__wrapper
						.chart__col
							.chart__legend
								.chart__square(style='background-color: #30c2c6')
								span.chart__number(style='color: #30c2c6') 52%
								span.chart__label Система <br> электроснабжения
							.chart__legend
								.chart__square(style='background-color: #ac8ab2')
								span.chart__number(style='color: #ac8ab2') 19%
								span.chart__label Система <br> охлаждения
							.chart__legend
								.chart__square(style='background-color: #f0c493')
								span.chart__number(style='color: #f0c493') 19%
								span.chart__label Сторонний <br> провайдер
						.chart__canvas
							canvas#pieDiag
							.chart__canvas-image
								+picture('chart-center', 'png')
						.chart__col
							.chart__legend.chart__legend--reverse
								.chart__square(style='background-color: #9acedc')
								span.chart__number(style='color: #9acedc') 8%
								span.chart__label ИТ-система <br> (аппаратура и ПО)
							.chart__legend.chart__legend--reverse
								.chart__square(style='background-color: #489bd1')
								span.chart__number(style='color: #489bd1') 7%
								span.chart__label Сетевая <br> инфраструктура
							.chart__legend.chart__legend--reverse
								.chart__square(style='background-color: #acb9c9')
								span.chart__number(style='color: #acb9c9') 5%
								span.chart__label Прочие
					.chart__source Источник: Uptime Institute «Annual Outage Analysis 2024»
			section.case
				.case__content
					.case__type Кейс
					+title('Сберлизинг', 'title--inner case__title')
					.case__text Надежное хранение огромных массивов данных – одна из ключевых задач ИТ департамента Пенсионного фонда России.
					.case__image.d-none-desktop
						+picture('case/1', 'png')
					+button('Узнать больше', 'case__link', '#')
				.case__image.d-none-mobile
					+icon('dots-vertical')(class='case__dots dots', width='134', height='314')
					+picture('case/1', 'png')
			section.webinar
				.webinar__window
					+icon('play')(class='webinar__play', width='55', height='55')
					.webinar__image
						+picture('webinar/1', 'jpg')
					.webinar__content
						.webinar__content-inner
							.webinar__type Вебинар
							+title('Результаты исследования <br> по сервису ИБП', 'title--inner webinar__title')
							.webinar__text Запись вебинара доступ к закрытой онлайн-конференции
							+button('Получить запись', 'webinar__link', '#')

	article.block.block--light.block--2
		.container.block__container
			.block__dots-wrapper
				+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
			+title('Решения для размещения <br> серверного оборудования', 'block__title')
			section.block__products.products.products--color-inverse.products--columns
				.products__title Продукты
				.products__wrapper
					.products-card.products-card--vertical
						.products-card__content
							.products-card__content-inner
								.products-card__title Системы изоляции коридоров
								ul.products-card__list
									li Изоляция «холодных» и «горячих» воздушных коридоров применяется в действующих и строящихся ЦОДах.
									li Она снижает эксплуатационные затраты и повышает эффективность систем охлаждения.
									li.
										Решения для изоляции коридоров C3 Solutions подходят для объектов
										установки с различными условиями включает в себя:
								ul.products-card__list.products-card__list--simple
									li Изоляцию коридоров с опорой на шкафы (для «холодных» и «горячих» коридоров).
									li Изоляцию коридоров с отводом воздуха над шкафами (для «горячих коридоров»).
									li Самонесущую изоляцию коридоров.
							+button('Запросить подробную информацию', 'button--green products-card__link', '#')
						.products-card__image
							+picture('products/2', 'png')
					.products-card.products-card--vertical
						.products-card__content
							.products-card__content-inner
								.products-card__title Серверные шкафы Major
								ul.products-card__list
									li.
										Решение для эффективной организации сетевой инфраструктуры
										предприятий и ЦОДов различного уровня сложности.
									li.
										Линейка серверных шкафов Major разработана C3 Solutions в ответ на потребность рынка в размещении
										глубокого серверного оборудования.
									li.
										Шкафы этой модели позволяют разместить сервер с глубиной более 1000мм совместно с блоками
										распределения питания, не испытывая сложностей в коммутации силовых шнуров по всей высоте
										стойки и не блокируя доступ к розеткам ИБП.
									li Также реализована возможность монтажа БРП разъемами к задней двери без блокировки 19’’ пространства.
							+button('Узнать больше', 'button--green products-card__link', '#')
						.products-card__image
							+picture('products/3', 'png')
			section.case
				.case__content
					.case__type Кейс
					+title('Серверные шкафы для <br> Пенсионного Фонда России', 'title--inner case__title')
					.case__text Надежное хранение огромных массивов данных – одна из ключевых задач ИТ департамента Пенсионного фонда России.
					.case__image.d-none-desktop
						+picture('case/2', 'jpg')
					+button('Узнать больше', 'case__link', '#')
				.case__image.d-none-mobile
					+icon('dots-vertical')(class='case__dots dots', width='134', height='314')
					+picture('case/2', 'jpg')
			section.video
				.video__wrapper
					+icon('dots-horizontal')(class='video__dots dots', width='313', height='134')
					video(controls)
						source(src='./images/video1.mp4', type='video/mp4')
			section.webinar.webinar--color-inverse
				.webinar__window
					+icon('play')(class='webinar__play', width='55', height='55')
					.webinar__image
						+picture('webinar/2', 'jpg')
					.webinar__content
						.webinar__content-inner
							.webinar__type Вебинар
							+title('Серверные шкафы Major для современных серверов', 'title--inner webinar__title')
							+button('Получить запись', 'webinar__link', '#')

	article.block.block--3
		.container.block__container
			.block__dots-wrapper
				+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
			+title('Распределение <br> электропитания в ЦОД', 'block__title')
			section.block__products.products
				.products__title Продукты
				.products__wrapper
					.products-card
						.products-card__content
							.products-card__title Интеллектуальные БРП от C3 Solutions
							ul.products-card__list
								li.
									Решение позволяет оптимизировать расходы на электропитание, за счет индивидуального
									мониторинга потребляемой мощности и управления на уровне каждой розетки в режиме реального времени.
								li.
									Мониторинг параметров окружающей среды обеспечивается при подключении датчиков
									температуры, влажности, утечки воды, дымообнаружения и контроля двери шкафа 100% российское
									производство, все ключевые компоненты изготовлены в России.
							.products-card__image.d-none-desktop
								+picture('products/4', 'png')
							+button('Узнать больше', 'button--green products-card__link', '#')
						.products-card__image.d-none-mobile
							+picture('products/4', 'png')

	article.block.block--light.block--4
		.container
			section.article-preview
				.article-preview__image
					+picture('article-preview/2', 'jpg')
				.article-preview__content
					.article-preview__title Ситуация на рынке блоков распределенного питания
					.article-preview__text.
						На рынке систем охлаждения для ЦОД появились десятки новых брендов. Большинство из них
						по функционалу соответствуют ведущим западным вендорам, однако уступают им
						в энергоэффективности и качестве сервиса.
					+button('Читать полностью', 'article-preview__link', '#')
			section.case
				.case__content
					.case__type Кейс
					+title('Референс: Создание <br> инженерной инфраструктуры <br> арктического ЦОД для ПАО <br> «Ростелеком', 'title--inner case__title')
					.case__text.
						Выполнение проекта ставило перед собой важную и значимую задачу – создать надежную ИТ-инфраструктуру
						для высоких темпов цифрового развития арктического региона.
					.case__image.d-none-desktop
						+picture('case/3', 'png')
					+button('Узнать больше', 'case__link', '#')
				.case__image.d-none-mobile
					+icon('dots-vertical')(class='case__dots dots', width='134', height='314')
					+picture('case/3', 'png')

	article.block.block--5
		.container
			+title('управление <br> микроклиматом в ЦОД', 'block__title')
			section.block__products.products
				.products__title Продукты
				.products__wrapper
					.products-card
						.products-card__content
							.products-card__title Прецизионные кондиционеры воздуха <br> с выносным воздухо-охлаждаемым конденсатором
							.products-card__text.
								Предназначены для точного поддержания заданных параметров микроклимата в технологических помещениях,
								серверных комнатах, ЦОДах. <br>
								Рассчитаны на беспрерывную работу в режиме 24x7x365. Полезный срок эксплуатации - 10 лет.
							ul.products-card__list
								li <b>Диапазон регулировок.</b> <br> Соответствуют требованиям директивы ASHRAE по микроклимату в ЦОД.
								li.
									<b>Высокотехнологичные компоненты.</b> <br>
									Плавная регулировка мощности и высокая энергоэффективность –экономия энергопотребления до 72%
									в холодное время года, за счет системы фреонового фрикулинга.
								li.
									<b>Индивидуальные решения.</b> <br> Широкий набор опций и модификаций. Проектирование и производство систем
									кондиционирования воздуха под различные задачи бизнеса.
							.products-card__image.d-none-desktop
								+picture('products/5', 'png')
							+button('Узнать больше', 'button--green products-card__link', '#')
						.products-card__image.d-none-mobile
							+picture('products/5', 'png')
			section.expert
				.expert__wrapper
					.expert__image
						+picture('expert', 'png')
					.expert__content
						.expert__name Александр Ежов, С3 Solutions
						.expert__title О состоянии рынка и технологических трендах в ИТ-кондиционировании
						.expert__text.
							На рынке систем охлаждения для ЦОД появились десятки новых брендов. Большинство из них по
							функционалу соответствуют ведущим западным вендорам, однако уступают им в энергоэффективности и качестве сервиса.
						+button('Читать полностью', 'expert__link', '#')
			section.article-preview.article-preview--reverse
				.article-preview__image
					+picture('article-preview/3', 'jpg')
				.article-preview__content
					.article-preview__title Обзор рынка с комментариями основных игроков
					.article-preview__text.
						Надежное хранение огромных массивов данных – одна из ключевых
						задач ИТ департамента Пенсионного фонда России.
					+button('Читать полностью', 'article-preview__link', '#')
			section.webinar
				.webinar__window
					+icon('play')(class='webinar__play', width='55', height='55')
					.webinar__image
						+picture('webinar/3', 'jpg')
					.webinar__content
						.webinar__content-inner
							.webinar__type Вебинар
							+title('Запись на новый вебинар <br> НАЗВАНИЕ ВЕБИНАРА', 'title--inner webinar__title')
							.webinar__text Запись на новый вебинар, всем записавшимся - каталог кондиционеров в подарок.
							+button('Записаться', 'webinar__link', '#')

	article.block.block--white.block--6
		.block__dots-wrapper
			+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
			+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
		.container
			+title('Передача данных в ЦОД: <br> скорость и качество', 'title--green block__title')
			section.block__products.products.products--color-white
				.products__title Продукты
				.products__wrapper
					.products-card
						.products-card__content
							.products-card__title Структурированные <br> кабельные системы (СКС)
							ul.products-card__list
								li.
									Представляет собой готовое высокоскоростное решение для предприятий и центров обработки данных,
									которым требуется гибкость, надёжность и простота установки сетевой инфраструктуры.
								li.
									Идеально подходит для обеспечения передачи информации в телекоммуникационных сетях различных
									уровней, так как содержат в своем составе все необходимые компоненты.
							.products-card__image.d-none-desktop
								+picture('products/6', 'png')
							+button('Узнать больше', 'button--green products-card__link', '#')
						.products-card__image.d-none-mobile
							+picture('products/6', 'png')
			section.expert.expert--color-inverse
				.expert__wrapper
					.expert__image
						+picture('expert', 'png')
					.expert__content
						.expert__name Евгений Марьин, C3 Solutions:
						.expert__title Структурированная кабельная система играет важнейшую роль при построении ЦОД
						.expert__text.
							На рынке систем охлаждения для ЦОД появились десятки новых брендов. Большинство из них
							по функционалу соответствуют ведущим западным вендорам, однако уступают им в
							энергоэффективности и качестве сервиса.
						+button('Читать полностью', 'button--green expert__link', '#')
			section.webinar
				+icon('dots-horizontal')(class='webinar__dots dots', width='313', height='134')
				.webinar__window
					+icon('play')(class='webinar__play', width='55', height='55')
					.webinar__image
						+picture('webinar/4', 'png')
					.webinar__content
						.webinar__content-inner
							.webinar__type Вебинар
							+title('Организация СКС в типичном ЦОД', 'title--inner webinar__title')
							+button('Записаться', 'webinar__link', '#')

	article.block.block--light.block--7
		.block__dots-wrapper
			+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
			+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
		.container
			+title('Системы мониторинга <br> параметров ЦОД', 'block__title')
			section.block__products.products.products--color-inverse
				.products__title Продукты
				.products__wrapper
					.products-card.products-card--full
						.products-card__content
							.products-card__title Системы мониторинга параметров ЦОД «SPX+».
							ul.products-card__list
								li.
									Мониторинг параметров ЦОД является неотъемлемой частью работы каждого ЦОДа. Точный и непрерывный
									контроль за состоянием оборудования позволяет предотвратить возможные сбои и неполадки в работе
									всей системы. Модульная система мониторинга «SPX+» от C3 Solutions может стать
									надежным помощником в этом вопросе.
								li.
									Контроллер SPX+ поддерживает подключение до 150 автоопределяемых датчиков. Модули расширения
									позволяют подключать датчики к точкам измерения максимально близко, что обеспечивает еще большую
									точность мониторинга. ПО позволяет составлять планы расположения шкафов и датчиков, составлять
									наборы контролируемых параметров, вести журнал событий, рассылать уведомления и проч.
							.products-card__group
								.products-card__group-col
									p <b>Состав решения:</b>
									ul.products-card__list.products-card__list--simple
										li контроллер мониторинга;
										li датчики среды;
										li.
											средства оповещения (программируемый LCD дисплей с встроенным датчиком температуры; <br>
											колонна оповещения, световая трехцветная (светофор);
										li комплекты СКУД;
										li программное обеспечение.
								.products-card__group-col
									+picture('products/7', 'jpg')
							+button('Узнать больше', 'button--green products-card__link', '#')

	article.block.block--8
		.container.block__container
			.block__dots-wrapper
				+icon('dots-horizontal')(class='block__dots dots', width='313', height='134')
			+title('Edge-решение <br> «под ключ»', 'block__title')
			section.block__products.products
				.products__title Продукты
				.products__wrapper
					.products-card
						.products-card__content
							.products-card__title МикроЦОД. Edge-решение «под ключ»
							.products-card__text.
								Применение пограничной ИТ-инфраструктуры для периферийных вычислений на базе компактных ЦОД. <br>
								Решение включает в себя инженерные системы, необходимые для обеспечения оптимальных условий
								эксплуатации ИТ-оборудования пользователя.
							.products-card__image.d-none-desktop
								+picture('products/8', 'png')
							+button('Узнать больше', 'button--green products-card__link', '#')
						.products-card__image.d-none-mobile
							+picture('products/8', 'png')

	article.block.block--light.block--9
		.container
			section.article-preview
				.article-preview__image
					+picture('article-preview/4', 'jpg')
				.article-preview__content
					.article-preview__title Аналитическая статья о проблематике МикроЦОД
					.article-preview__text.
						Надежное хранение огромных массивов данных – одна из ключевых задач ИТ департамента Пенсионного фонда России.
					+button('Читать полностью', 'article-preview__link', '#')
			section.case
				.case__content
					.case__type Кейс
					+title('Школа №21 (Белгород)', 'title--inner case__title')
					.case__text.
						Надежное хранение огромных массивов данных – одна из ключевых задач ИТ департамента Пенсионного фонда России.
					.case__image.d-none-desktop
						+picture('case/4', 'jpg')
					+button('Узнать больше', 'case__link', '#')
				.case__image.d-none-mobile
					+icon('dots-vertical')(class='case__dots dots', width='134', height='314')
					+picture('case/4', 'jpg')
			section.guide
				.guide__window
					+icon('dots-horizontal')(class='guide__dots dots', width='313', height='134')
					.guide__image
						+picture('guide', 'png')
					.guide__content
						.guide__title Гайд по Микро ЦОД
						.guide__text Надежное хранение огромных массивов данных – одна из ключевых задач ИТ департамента Пенсионного фонда России.
					+button('Скачать гайд', 'button--green guide__link', '#')
